In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn
import dtale

Read Dataset

In [6]:
df = pd.read_csv("../data/external/train.csv")

EDA

In [7]:
df.head()

   Temperature     Oxygen   Humidity  Prediction
0    26.952540  14.486084  83.036662           0
1    33.607575   5.161019  52.847559           0
2    29.110535  12.613219  57.084039           0
3    26.795327  16.340326  32.546853           0
4    21.946192   5.703607  64.453872           0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  1000 non-null   float64
 1   Oxygen       1000 non-null   float64
 2   Humidity     1000 non-null   float64
 3   Prediction   1000 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 31.4 KB

In [9]:
df.describe()

       Temperature       Oxygen     Humidity   Prediction
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     24.836861    13.181600    55.490333     0.086000
std      11.629770     4.785725    25.819993     0.280504
min       5.021839     5.005878    10.006633     0.000000
25%      14.904538     9.083429    34.432017     0.000000
50%      24.252903    13.311799    55.054652     0.000000
75%      34.490413    17.449571    78.110416     0.000000
max      44.992343    20.976425    99.996762     1.000000

Using D-Tale Library

In [11]:
dtale.show(df)

In [12]:
dtale.show(open_browser=True)